R2_ACCESS_KEY_ID=
R2_SECRET_ACCESS_KEY=
CLOUDFLARE_ACCOUNT_ID=
VOLC_ASR_APPID=
VOLC_ASR_ACCESS_TOKEN=
GLM_API_KEY=
GPT_IMAGE_API_KEY=
GPT_IMAGE_BASE_URL=
GPT_IMAGE_MODEL=gpt-image-2
GPT_IMAGE_SIZE=1024x1024
GPT_IMAGE_TIMEOUT_MS=75000
WECHAT_APP_ID=
WECHAT_APP_SECRET=
WECHAT_PROXY=http://23.105.194.173:8080
